{% extends 'base.html' %} 
{% block content %}
<div class="banner flex flex-col gap-y-6 justify-between items-center p-8 bg-gray-100 md:flex-row">
  <!-- Text Section -->
  <div class="text-container max-w-lg">
    <h1 class="text-4xl sm:text-5xl md:text-6xl font-semibold mb-6 leading-tight">
        Step into <span class="text-amber-600">Comfort</span>, <span class="text-amber-600">Style</span>, and 
        <span class="text-amber-600">Confidence</span>
    </h1>
      
    <p class="text-lg text-gray-600">
        Discover the perfect pair that moves with you—whether for work, play, or adventure. Your journey begins with the right footwear!
    </p>
  </div>

  <!-- Image Section (Bento Grid) -->
  <div class="images-container grid grid-cols-3 gap-4 max-w-2xl">
    <div
      class="image-box col-span-2 row-span-1 overflow-hidden rounded-xl shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl"
    >
      <img
        src="{{'Images/banner-img-1.jpg' | static_url}}"
        alt="Image 1"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="image-box col-span-1 row-span-2 overflow-hidden rounded-xl shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl"
    >
      <img
        src="{{'Images/the-dk-photography-oXPhwpiEELQ-unsplash.jpg' | static_url}}"
        alt="Image 2"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="image-box col-span-1 row-span-1 overflow-hidden rounded-xl shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl"
    >
      <img
        src="{{'Images/banner-img-5.jpg' | static_url}}"
        alt="Image 3"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="image-box col-span-1 row-span-1 overflow-hidden rounded-xl shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl"
    >
      <img
        src="{{'Images/banner-img-6.jpg' | static_url}}"
        alt="Image 4"
        class="w-full h-full object-cover"
      />
    </div>
    
  </div>
</div>

<div class="special-offer-section py-4 bg-gray-100 grid grid-cols-1 lg:grid-cols-2 gap-6">
  <!-- Right Section (Images) -->
  <div class="images-section grid grid-cols-2 grid-rows-2 gap-4">
    <div class="img-1 row-span-2">
      <img src="{{ '/static/Images/Grey & White Sport Shoes Promo Instagram Post.png' }}" 
        alt="Sport Shoes Promo" 
        class="w-full h-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110 hover:rotate-3 hover:shadow-lg">
    </div>
    <div class="img-2">
      <img src="{{ '/static/Images/Black and White Minimalist Shoes Promotion Instagram Post.png' }}" 
        alt="Minimalist Shoes" 
        class="w-full h-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-105 hover:rotate-2 hover:shadow-md">
    </div>
    <div class="img-3">
      <img src="{{ '/static/Images/Red, White, and Black Shoes Products Sale Instagram Post.png' }}" 
        alt="Sale Shoes" 
        class="w-full h-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-105 hover:-rotate-2 hover:shadow-md">
    </div>
  </div>

  <!-- Left Section (Text) -->
  <div class="text-section p-8 flex flex-col justify-center animate-fade-in">
    <h2 class="text-[3rem] font-bold mb-4"><span class="text-amber-600">Special Offer:</span> Limited Time Only!</h2>
    <p class="text-lg mb-6">Don't miss out on these amazing deals. Get the latest in footwear fashion with exclusive discounts. Shop now and grab your favorite styles before they're gone!</p>
  
  </div>
</div>


  
<!-- extra section-1 starts -->
<div class="relative overflow-hidden bg-white my-8" id="hero-section">
  <div class="pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl" id="hero-title">Embrace the Summer Vibes with Our Latest Collection</h1>
        <p class="mt-4 text-xl text-gray-500" id="hero-description">Step into the season of sunshine with our newest summer collection. From breezy outfits to stylish accessories, we’ve curated pieces that will elevate your wardrobe and keep you looking effortlessly chic no matter where summer takes you.</p>
        
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100 transition-opacity duration-500 hover:scale-105 image-tile" id="image-1">
                    <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg" alt="" class="object-cover transition-transform duration-500 hover:scale-110">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg transition-opacity duration-500 hover:scale-105 image-tile" id="image-2">
                    <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg" alt="" class="object-cover transition-transform duration-500 hover:scale-110">
                  </div>
                </div>
                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg transition-opacity duration-500 hover:scale-105 image-tile" id="image-3">
                    <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg" alt="" class="object-cover transition-transform duration-500 hover:scale-110">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg transition-opacity duration-500 hover:scale-105 image-tile" id="image-4">
                    <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg" alt="" class="object-cover transition-transform duration-500 hover:scale-110">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg transition-opacity duration-500 hover:scale-105 image-tile" id="image-5">
                    <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg" alt="" class="object-cover transition-transform duration-500 hover:scale-110">
                  </div>
                </div>
                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg transition-opacity duration-500 hover:scale-105 image-tile" id="image-6">
                    <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg" alt="" class="object-cover transition-transform duration-500 hover:scale-110">
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg transition-opacity duration-500 hover:scale-105 image-tile" id="image-7">
                    <img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg" alt="" class="object-cover transition-transform duration-500 hover:scale-110">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="inline-block rounded-md border border-transparent bg-amber-600 px-8 py-3 text-center font-medium text-white hover:bg-amber-700" id="shop-collection-button">Shop Collection</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- extra section-1 ends -->
<div class="bg-amber-50 py-24 sm:py-32" id="deployment-section">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold text-amber-600" id="section-subtitle">Shop Your Perfect Pair</h2>
      <p class="mt-2 text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl" id="section-title">Find Stylish and Comfortable Footwear</p>
      <p class="mt-6 text-lg text-gray-600" id="section-description">Discover a wide range of footwear that offers both style and comfort. Whether you need sneakers, boots, or sandals, we have something for every occasion. Step up your fashion game with our premium collection.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16" id="features-list">
        <div class="relative pl-16" id="feature-1">
          <dt class="text-base font-semibold text-gray-900" id="feature-1-title">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-amber-600">
              <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
              </svg>
            </div>
            Trendy Designs
          </dt>
          <dd class="mt-2 text-base text-gray-600" id="feature-1-description">Stay ahead of the trends with our stylish footwear collection. From modern sneakers to classic boots, each pair is designed to turn heads and elevate your wardrobe.</dd>
        </div>
        <div class="relative pl-16" id="feature-2">
          <dt class="text-base font-semibold text-gray-900" id="feature-2-title">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-amber-600">
              <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
              </svg>
            </div>
            Unmatched Comfort
          </dt>
          <dd class="mt-2 text-base text-gray-600" id="feature-2-description">Experience all-day comfort with our cushioned insoles and ergonomic designs. Our footwear is crafted to provide the perfect balance of support and style, so you can stay on your feet without discomfort.</dd>
        </div>
        <div class="relative pl-16" id="feature-3">
          <dt class="text-base font-semibold text-gray-900" id="feature-3-title">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-amber-600">
              <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 0 2.985 11.987l3.181 3.183a8.25 8.25 0 0 0 13.803-3.7l3.181-3.181" />
              </svg>
            </div>
            Durability
          </dt>
          <dd class="mt-2 text-base text-gray-600" id="feature-3-description">Built to last, our shoes are made from high-quality materials that can withstand everyday wear and tear. Enjoy footwear that goes the distance, with superior construction and craftsmanship.</dd>
        </div>
        <div class="relative pl-16" id="feature-4">
          <dt class="text-base font-semibold text-gray-900" id="feature-4-title">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-amber-600">
              <svg class="size-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16 7l4 4m0 0l4 4m-4-4H7" />
              </svg>
            </div>
            Versatility
          </dt>
          <dd class="mt-2 text-base text-gray-600" id="feature-4-description">From casual sneakers to formal shoes, our versatile footwear range fits any occasion. Whether you’re heading to work, a night out, or a workout, we have the perfect shoe for you.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<!-- careers-section starts -->
<div id="careers-section" class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img
    src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
    alt="Team working in an office"
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center"
  >
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div
      class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-amber-500 to-orange-600 opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    ></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div
      class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    ></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl">Join Our Footwear Family</h2>
      <p class="mt-8 text-lg font-medium text-gray-300 sm:text-xl">
        Be a part of our growing team, where innovation meets comfort. Together, we craft footwear that makes a difference, blending style with comfort in every step.
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-lg font-semibold text-white sm:grid-cols-2 md:flex lg:gap-x-10">
        <a href="#open-roles" class="hover:underline">Open Positions <span aria-hidden="true">&rarr;</span></a>
        <a href="#internship-program" class="hover:underline">Internship Opportunities <span aria-hidden="true">&rarr;</span></a>
        <a href="#our-values" class="hover:underline">Our Core Values <span aria-hidden="true">&rarr;</span></a>
        <a href="#leadership" class="hover:underline">Meet Our Leaders <span aria-hidden="true">&rarr;</span></a>
      </div>
      <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-lg text-gray-300">Global Footwear Reach</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">15</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-lg text-gray-300">Designers & Creators</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">500+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-lg text-gray-300">Footwear Lines</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">50+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-lg text-gray-300">Sustainability Focus</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">100%</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<!-- careers-section ends -->



{% endblock content %}
